<label for="categgory">Klass</label>
{{view "select"
  content=own_classes
  prompt="Please select a class"
  optionValuePath="content.id"
  optionLabelPath="content.name"
  selectionBinding="categgory"
}}

<label for="subject">Subject</label>
{{view "select"
  content=subjects
  prompt="Please select a subject"
  optionValuePath="content.id"
  optionLabelPath="content.name"
  selectionBinding="subject"
}}

{{#if testsSettingsIsShowed }}
  <label for="list_of_items">List of items:</label>
  <table>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Actions</th>
    </tr>
    {{#each test_setting in test_settings}}
      <tr>
        <td>{{ test_setting.name }}</td>
        <td>{{ test_setting.description }}</td>
        <td>
          <button {{action "editTestSetting" test_setting}} title="edit">Edit</button>
          <button {{action "deleteTestSetting" test_setting}} title="delete">X</button>
        </td>
      </tr>

    {{/each}}
  </table>
{{/if}}