<form {{action 'submitTestSetting' on="submit"}} class="form-inline pull-right">
  <div class="line">
    <label for="name">Name</label>
    {{textarea value=model.name }}
    {{#each model.errors.name as |error|}}
      <div class="error">
        {{error.message}}
      </div>
    {{/each}}
  </div>
  <div class="line">
    <label for="description">Description</label>
    {{textarea value=model.description }}
    {{#each model.errors.description as |error|}}
      <div class="error">
        {{error.message}}
      </div>
    {{/each}}
  </div>
  {{!-- <div class="line">
    <label for="time_to_pass">Time to pass</label>
    {{input value=model.time_to_pass type="number" min="0"}}
    {{#each model.errors.time_to_pass as |error|}}
      <div class="error">
        {{error.message}}
      </div>
    {{/each}}
  </div> --}}

  <div class="line">
    <label for="max_tried_count">Tried count</label>
    {{input value=model.max_tried_count type="number" min="0"}}
    {{#each model.errors.max_tried_count as |error|}}
      <div class="error">
        {{error.message}}
      </div>
    {{/each}}
  </div>

  {{#if model.isNew}}
    <div class="line">
      <label for="theme">Theme</label>
      {{view "select"
        content=subject_themes
        prompt="Please select a theme"
        optionValuePath="content.id"
        optionLabelPath="content.name"
        selection=model.theme
      }}
      {{input checked=model.theme type="checkbox"}}
    </div>
  {{/if}}

  {{#each questions as |question|}}
    <div class="line">
      <label for="text">Text</label>
      {{textarea value=question.text }}
      {{#each question.errors.text as |error|}}
        <div class="error">
          {{error.message}}
        </div>
      {{/each}}

      {{#each question.answer_settings as |answer_setting|}}
        <label for="text">Text</label>
        {{textarea value=answer_setting.text }}
        {{#each answer_setting.errors.text as |error|}}
          <div class="error">
            {{error.message}}
          </div>
        {{/each}}

        <label for="text">Right</label>
        {{input checked=answer_setting.right type="checkbox"}}
      {{/each}}
    </div>

    <br>
    <button {{action "addAnswerSetting" question}} >Add answer</button>

  {{/each}}

  <br>
  <button {{action "addQuestion" model}} >Add question</button>


  <button type="submit" class="btn btn-primary">Save</button>
</form>


{{!--   test_setting
max_tried_count: DS.attr('integer'),
  description: DS.attr('string'),
  time_to_pass: DS.attr('datetime'),
  theme: DS.belongsTo('theme'),
  name: DS.attr('string'),
  tests: DS.hasMany('test'),
  questions: DS.hasMany('question'),
  subject: DS.belongsTo('subject'),
  categgory: DS.belongsTo('categgory') --}}

{{!-- question 
  text: DS.attr('string'),
  test_setting: DS.belongsTo('test_setting'),
  answer_settings: DS.hasMany('answer_setting')
--}}


{{!-- AS
export default DS.Model.extend({
  name: DS.attr('string'),
  rigth: DS.attr('boolean'),
  question: DS.belongsTo('question'),
  answer: DS.belongsTo('answer')
}); --}}